.top-catalog {
    height: 400px;
    background-image: url(img/header-cat.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        margin-top: 127px;
    }
}
.catalog {
    margin-top: 41px;
    &__link {
        display: block;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: underline;
        margin-top: 39px;
        margin-bottom: 96px;
        &:hover {
            color: rgb(136, 136, 136);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-decoration: none;
        }
        &_position {
            margin-top: 32px;
            margin-bottom: 64px;
        }
    }
}
.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 64px;
    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        &:hover {
            color: rgb(136, 136, 136);
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            text-decoration: underline;
        }
    }
}
.nav-filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filters__img {
    appearance: none;
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 16px);
}
.filter-1 {
    width: 182px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    &__text {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 23px;
        &::marker {
            display: none;
            content: '';
        }
    }
}

.filter-2 {
    width: 227px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding-left: 23px;
    cursor: pointer;
}
.block-position {
    position: relative;
    &__content {
        position: absolute;
        top: 55px;
        right: 0px;
        background-color: #fff;
        width: 540px;
        padding: 40px 48px;
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        z-index: 1;
    }
}

@import 'filter';

.product-box-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
}